<nav class='navbar navbar-expand-sm mt-3 mb-3 justify-content-center sticky-top'>
  <div class='nav item'>
    <%= link_to '献立を記録する', new_cooking_record_path, class: 'nav-link text-white' %>
  </div>
  <div class='nav item'>
    <%= link_to '献立記録', cooking_records_path, class: 'nav-link text-white' %>
  </div>
  <div class='nav item'>
    <%= link_to 'レシピ一覧', menus_path, class: 'nav-link text-white' %>
  </div>
  <div class='nav item'>
    <%= link_to '新しいレシピを登録する', new_menu_path, class: 'nav-link text-white' %>
  </div>
  <div class='nav item'>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'nav-link text-white' %>
  </div>
</nav>

<div class='container mt-5'>
  <div class='row'>
    <div class='inner '>
      <div class='row row-cols-1 row-cols-md-3 g-4'>
        <% @menus.each do |menu| %>
        <div class='col'>
          <div class='card shadow'>
            <% if menu.image.attached? %>
              <%= image_tag menu.image.variant(resize: '200x200'), class:'card-img-top' %>
            <% else %>
              <%= image_tag 'alt_menu_image.png', class:'card-img-top' %>
            <% end %>
            <div class='card-body'>
              <h2 class='card-title'>
                <%= link_to menu.title, menu_path(menu.id), class:'menu-link' %>
              </h2>
              <div class='recipe-url'>
                <%= link_to 'レシピURL', "#{menu.recipe_url}", class:'recipe-link' %>
              </div>
              <div class='card-text text-muted'>
                <%= menu.memo %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
