<%= render 'layouts/header' %>

<div class='container mt-5'>
  <div class='row'>
    <div class='inner '>
      <div class='row row-cols-1 row-cols-md-3 g-4'>
        <% @menus.each do |menu| %>
        <div class='col col-extend'>
          <div class='card shadow card-extend'>
                <%= link_to menu_path(menu.id) do %>
              <div class='card-body'>
                  <h2 class='card-title'>
                    <%= menu.title %>
                  </h2>
                  <div class='card-inner-link'>
                    作った回数： <%= menu.cooking_records.count %>回
                  </div>
                  <div class='card-inner-link'>
                    <% if menu.cooking_records.exists? %>
                      最後に作った日：<%= menu.cooking_records.last.start_time %>
                    <% end %>
                  </div>
                <% end %>
              </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
