<ul class='header-link'>
  <li><%= link_to '献立を記録する', new_cooking_record_path, class: 'record-input-link' %></li>
  <li><%= link_to '献立記録', cooking_records_path, class: 'record-index-link' %></li>
  <li><%= link_to '新しい献立を登録する', new_menu_path, class: 'menu-input-link' %></li>
  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'logout-link' %></li>
</ul>

<h2 class='title'>献立一覧</h2>

<ul class='menu-lists'>
  <% @menus.each do |menu| %>
  <li class='menu-list'>
    <div class='menu-title'>
    <%= link_to menu.title, menu_path(menu.id), class:'menu-link' %>
    </div>
    <div class='recipe-url'>
    <%= link_to 'レシピURL', "#{menu.recipe_url}", class:'recipe-link' %>
    </div>
    <div class='menu-memo'>
    <%= menu.memo %>
    </div>
  </li>
  <% end %>
</ul>

