<%= render 'layouts/header' %>

<%= form_with(url: search_menus_path, local: true, method: :get, class:'row search-form mt-3') do |form| %>
  <div class='col-xl-4 col-sm-6'>
    <%= form.text_field :keyword, placeholder: 'レシピを検索する', class:'form-control' %>
  </div>
  <div class='col-auto'>
    <%= form.submit "検索", class: "btn btn-light" %>
  </div>
<% end %>

<div class='container mt-5'>
  <div class='row row-cols-xl-3 row-cols-2 g-4'>
    <% @menus.each do |menu| %>
      <div class='col'>
      <%= link_to menu_path(menu.id), class:'card-link' do %>
        <div class="card shadow mb-3">
          <div class="row g-0 align-items-center">
            <div class="col-sm-4 card-index-img">
              <% if menu.image.attached? %>
                <%= image_tag menu.image.variant(resize: "200x200", gravity: "center", crop:"200x200+0+0").processed, class: 'card-img-extend img-fluid rounded' %>
              <% else %>
                <%= image_tag 'alt_menu_image.png', :size => '30x30', class:'card-img-extend img-fluid' %>
              <% end %>
            </div>
            <div class="col-sm-8">
              <div class='card-body'>
                <h5 class='fw-bold mb-3'>
                  <%= menu.title %>
                </h5>
                <div class='card-text card-inner-link'>
                  作った回数： <%= menu.cooking_records.count %>回
                </div>
                <div class='card-text card-inner-link'>
                  <% if menu.cooking_records.exists? %>
                    最後に作った日：<%= menu.cooking_records.last.start_time.strftime("%Y/%m/%d") %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
