<%= render 'layouts/header' %>

<div class='card shadow card-form container-fluid'>
<%= form_with model: @menu, local: true do |f| %>
  <div class='form-group'>
    <label>料理の名前</label>
    <%= f.text_field :title, class:'form-control ',  placeholder:"例：シチュー" %>
  </div>
  <div class='form-group'>
    <label>レシピURL</label>
    <%= f.text_field :recipe_url, class:'form-control ',  placeholder:"例：https://www.kurashiru.com/recipes/~" %>
  </div>
  <div class='form-group'>
    <label>メモ</label>
    <%= f.text_field :memo, class:'form-control ',  placeholder:"例：倍量で作成" %>
  </div>
  <div class='form-group'>
    <label>料理の画像</label>
    <div class='img-block'>
      <%= f.file_field :image, class:'form-control-file' %>
    </div>
  </div>
  <div class='btn-group'>
    <div class='btn-block-extend'>
      <%= f.submit "登録する" ,class:'btn btn-primary' %>
    </div>
    <div class='back-block'>
      <%=link_to 'もどる', root_path, class:'back-btn' %>
    </div>
  </div>
<% end %>
</div>