<%= render 'layouts/header' %>

<%= form_with(url: search_menus_path, local: true, method: :get, class:'row search-form mt-3') do |form| %>
  <div class='col-xl-4 col-sm-6'>
  <div class='input-group'>
    <%= form.text_field :keyword, placeholder: 'レシピを検索する', class:'form-control', aria:{ describedby:"button-addon1"} %>
    <%= form.button class: "btn btn-secondary", id:"button-addon1" do %>
      <i class="fas fa-search"></i>
    <% end %>
  </div>
</div>
<% end %>

<div class='container mt-5'>
  <select name='sort' class='form-control col-xl-2 col-md-5 my-2' id='sort-form'>
    <option value='standard'>並び替え</option>
    <option value='repeating'>作った回数順</option>
    <option value='rating'>評価が高い順</option>
    <option value='date'>作った日付順</option>
  </select>
  <div class='row row-cols-xl-3 row-cols-sm-2 row-cols-1 g-4' id='menu-index'>
    <%= render 'menu_index', menus: @menus %>
  </div>
</div>

