<%= render 'layouts/header' %>

<div class='card shadow card-form container-fluid'>
  <div class="row g-0">
    <div class='col-md-4'>
      <div class ='show-img'>
        <% if @menu.image.attached? %>
          <%= image_tag @menu.image, class: 'menu-image' %>
        <% else %>
          <%= image_tag 'alt_menu_image.png', size: '200x200', class:'menu-image' %>
        <% end %>
      </div>
    </div>
    <div class='col-md-8'>
    <div class='card-body-add'>
        <div class='menu-title'>
          <%= @menu.title %>
        </div>
        <div class='recipe-url'>
        レシピ：
          <% unless @menu.recipe_url.empty? %>
            <%= link_to image_tag('recipe_image.png', size: '50x50'), "#{@menu.recipe_url}", class:'recipe-link' %>
          <% end %>
        </div>
        <div class='menu-memo my-2'>
          メモ：<%= @menu.memo %>
        </div>
      <div>
      作った回数： <%= @menu.cooking_records.count %>回
      </div>
      <div class='my-2'>
      前回： 
      <% unless @last_cook_day.nil? %>
        <%= @last_cook_day.start_time %>
      <% end %>
      </div>
      <div class='stars my-2' id="stars" style='cursor: pointer;'>
        評価： 
        <% if @menu.rate.blank? %>
          <span class="star" data-star="1" id='star'>☆</span>
          <span class="star" data-star="2">☆</span>
          <span class="star" data-star="3">☆</span>
          <span class="star" data-star="4">☆</span>
          <span class="star" data-star="5">☆</span>
        <% else %>
          <% @menu.rate.times do |i| %>
            <span class="star" data-star=<%="#{i+1}"%> id=<%="star#{i+1}"%>>★</span>
          <% end %>
          <% (5 - @menu.rate).times do |i| %>
            <span class="star" data-star=<%="#{i+@menu.rate+1}"%> id=<%="star#{i+@menu.rate+1}"%>>☆</span>
          <% end %>
        <% end %>
      </div>
    </div>
    </div>
</div>
  <%= link_to '作った日を登録', new_cooking_record_path(menu_id: @menu.id), class: 'btn btn-outline-secondary mt-3' %></li>
<div>
</div>
<ul class='footer-link'>
  <li><%= link_to '編集', edit_menu_path, class: 'menu-link' %></li>
  <li><%= link_to '削除', menu_path, method: :delete, class: 'menu-link', data: {confirm: "削除しますか？"} %></li>
  <li><%= link_to '戻る', menus_path, class: 'menu-link' %></li>
</ul>