<h2 class='title'>献立を編集する</h2>
<div class='input-form'>
<%= form_with model: @cooking_record, local: true do |f| %>
  <div class='input-label'>
  作成した日付
  </div>
  <%= f.date_field :cooking_date, class:'input-cooking-date' %>
  <div class='input-label'>
  レシピ名
  </div>
  <select name='menu_id', class='input-title'>
    <option value=''>レシピを選択</option>
    <% Menu.all.each do |menu| %>
      <option value=<%= menu.id %>><%= menu.title %></option> 
    <% end %>
  </select>
  <div class="">
    <%= f.submit "更新する" ,class:'submit-btn' %>
    <%=link_to 'もどる', cooking_records_path, class:'back-btn' %>
  </div>
<% end %>
</div>