<h2 class='title'>献立の記録</h2>

<ul class='header-link'>
  <li><%= link_to '献立を記録する', new_cooking_record_path, class: 'record-input-link' %></li>
  <li><%= link_to 'レシピ一覧', menus_path, class: 'menu-index-link' %></li>
  <li><%= link_to '新しいレシピを登録する', new_menu_path, class: 'menu-input-link' %></li>
  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:'logout-link' %></li>

</ul>

<ul class='cooking-record-lists'>
  <% @cooking_records.each do |cooking_record| %>
  <li class='cooking-record-list'>
    <div class='cooking-date'>
      <%= link_to cooking_record.cooking_date, cooking_record_path(cooking_record.id) %>
    </div>
    <div class='cooking-menu-title'>
    <%= link_to cooking_record.menu.title, menu_path(cooking_record.menu.id), class:'menu-link' %>
    </div>
  </li>
  <% end %>
</ul>

