<%= render 'layouts/header' %>

<div class='card shadow card-form'>
<%= form_with model: @cooking_record, local: true do |f| %>
  <div class='form-group'>
    <label>作った日</label>
  <%= f.date_field :start_time, class:'form-control form-control-extend' %>
  </div>
  <div class='form-group'>
    <label>レシピ名</label>
    <select name='menu_id', class='form-control form-control-extend'>
      <option value=''>レシピを選択</option>
      <% Menu.all.each do |menu| %>
        <option value=<%= menu.id %>><%= menu.title %></option> 
      <% end %>
    </select>
  </div>
  <div class='btn-group'>
    <div class='btn-block'>
      <%= f.submit "登録する" ,class:'btn btn-primary' %>
    </div>
    <div class='back-block'>
      <%=link_to 'もどる', root_path, class:'back-btn' %>
    </div>
  </div>
<% end %>
</div>