<%= render 'layouts/header' %>

<div class='card shadow card-form container-fluid'>
<%= form_with model: @cooking_record, local: true do |f| %>
  <div class='form-group'>
    <label>作った日</label>
  <%= f.date_field :start_time, value: @cooking_record.start_time, class:'form-control' %>
  </div>
  <div class='form-group'>
    <label>レシピ名：</label>
    <% unless @cooking_record.menu_id.present?%>
      <%= f.collection_select :menu_id, @menus, :id, :title, {prompt: "選択してください"}, { class: 'form-control', required: true } %>
    <% else %>
      <%= @cooking_record.menu.title %>
      <%= f.hidden_field :menu_id, value:@cooking_record.menu_id %>
    <% end %>
  </div>
  <div class='btn-group'>
    <div class='btn-block-extend'>
      <%= f.submit "登録する" ,class:'btn btn-primary' %>
    </div>
    <div class='back-block'>
      <%=link_to 'もどる', root_path, class:'back-btn' %>
    </div>
  </div>
<% end %>
</div>