<%= render 'layouts/header' %>

<div class='card shadow container-fluid cooking-card'>
  <div class='menu-list'>
    <% if @cooking_records.empty? %>
      <div class='start-time'>
        <%= @cooking_record_new.start_time %>
      </div>
      <div class='no-record-word'>
        作った記録はありません
      </div>
    <% else %>
        <div class='start-time'>
          <%= @cooking_record_new.start_time %>
        </div>
      <% @cooking_records.each do |cooking_record| %>
        <div class='cooking-record d-flex align-items-center'>
          <div class=''>
            <%= cooking_record.menu.title %>
          </div>
          <div class='d-flex align-content-center ms-5'>
            <div class='edit-link'><%= link_to image_tag('edit_button.png', size: '30x30'), edit_cooking_record_path(cooking_record.id) %></div>
            <div class='delete-link'><%= link_to image_tag('delete_button.png', size: '30x30'), cooking_record_path(cooking_record.id), method: :delete, data: {confirm: "削除しますか？"} %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<ul class='footer-link'>
  <li><%= link_to '登録', new_cooking_record_path(start_time: @cooking_record_new.start_time), class: 'menu-link' %></li>
  <li><%= link_to '戻る', cooking_records_path, class: 'menu-link' %></li>
</ul>