<%= render 'layouts/header' %>

<ul class='header-link'>
  <li><%= link_to '編集する', edit_cooking_record_path, class: 'menu-index-link' %></li>
  <li><%= link_to '削除する', cooking_record_path, method: :delete, class: 'menu-index-link' %></li>
  <li><%= link_to '一覧へ戻る', cooking_records_path, class: 'menu-index-link' %></li>
</ul>

<% unless @cooking_record.nil? %>
<ul class='menu-lists'>
  <li class='menu-list'>
    <div class='menu-title'>
      <%= @cooking_record.start_time %>
    </div>
    <div class='menu-title'>
      <%= @cooking_record.menu.title %>
    </div>
  </li>
</ul>
<% end %>

