<div class="simple-calendar">
  <div class="calendar-heading">
    <div>
    <%= link_to t('simple_calendar.previous', default: '＜＜'), calendar.url_for_previous_view, class: 'previous-month-link' %>
    </div>
    <div>
      <div class="calendar-year"><%= start_date.year %>年</div>
      <div class='calendar-month'> <%= t('date.month_names')[start_date.month] %></div>
    </div>
    <div>
    <%= link_to t('simple_calendar.next', default: '＞＞'), calendar.url_for_next_view, class: 'next-month-link' %>
    </div>
  </div>
  <div class="calendar">
  <table class="table">
    <tbody>
        <tr>
          <% date_range.each do |day| %>
            <%= content_tag :tr, class: calendar.td_classes_for(day) do %>
              <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <%= t('date.abbr_day_names')[day.wday] %><td>
                <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                  <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
                <% else %>
                  <% passed_block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
    </tbody>
  </table>
  </div>
</div>
